<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
   <meta charset="UTF-8">
  <title>CodePen - Poker table</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

   <div class="main">
    <button type="button" id="start_game">Start / Pause Game</button>
      
    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">

      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
        var but = $('#start_game').on('click', function( e ) {
          e.preventDefault()
          socket.emit('get card', {
            user_name : 'BUTTON TEST',
            message : 'BUTTON TESTSS'
          })
        })
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
       socket.on( 'get card resp', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      }) 
    </script>

  <div class="table">
      <div class="pokerchip iso blue board"></div>
      <div class="box one">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p>
          <div class="pokerchip iso red one"></div>
        <div class="card-tiny">
           <p class="card-texttiny black">10</p>
           <p class="card-imgtiny black">&spades;</p>
        </div>
        <div class="card-tiny">
           <p class="card-texttiny black">9</p>
           <p class="card-imgtiny black">&spades;</p>
        </div>
      </div>
      <div class="box two">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p> 
         <div class="pokerchip iso red two"></div>
        <div class="card-facedown"></div>
        <div class="card-facedown"></div>
      </div>
      <div class="box three">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p> 
         <div class="pokerchip iso red three"></div>
        <div class="card-facedown"></div>
        <div class="card-facedown"></div>
      </div>
      <div class="box four">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p> 
         <div class="pokerchip iso red four"></div>
        <div class="card-facedown"></div>
        <div class="card-facedown"></div>
      </div> 
    <div class="box five">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">User name 3</p> 
         <div class="pokerchip iso red five"></div>
        <div class="card-facedown"></div>
        <div class="card-facedown"></div>
      </div> 
    <div class="box six">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p> 
         <div class="pokerchip iso red six"></div>
        <div class="card-facedown"></div>
        <div class="card-facedown"></div>
      </div> 
    <div class="box seven">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p> 
         <div class="pokerchip iso red seven"></div>
        <div class="card-facedown"></div>
        <div class="card-facedown"></div>
      </div> 
    <div class="box eight">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p> 
         <div class="pokerchip iso red eight"></div>
        <div class="card-facedown"></div>
        <div class="card-facedown"></div>
      </div>
    <div class="box nine">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p> 
         <div class="pokerchip iso red nine"></div>
        <div class="card-facedown"></div>
        <div class="card-facedown"></div>
      </div>
    <div class="box ten">
         <img src="{{ url_for('static', filename='img_avatar.png') }}" alt="Avatar" class="circl1">
         <p class="player-text black">hello</p> 
         <div class="pokerchip iso red ten"></div>
      </div>
      
      
    <!-- BOARD  -->      
    <div class="board">
      <div class="card-small">
        <p class="card-text black">A</p>
        <p class="card-img black">&clubs;</p>
      </div>
      <div class="card-small">
        <p class="card-text black">10</p>
        <p class="card-img black">&spades;</p>
      </div>
      <div class="card-small">
        <p class="card-text red">K</p>
        <p class="card-img red">&hearts;</p>
      </div>
      <div class="card-small">
        <p class="card-text red">Q</p>
        <p class="card-img red">&diams;</p>
      </div>
      <div class="card-small">
        <p class="card-text red">2</p>
        <p class="card-img red">&diams;</p>
      </div>
    </div>
  </div>
</div>


  </body>
  </html>